<head>
<meta content="<%- title %>" property="og:title" />
<meta content="<%- description %>" property="og:description" />
<meta content="<%- url %>" property="og:url" />
<meta content="<%- file %>" property="og:image" />
<meta name="twitter:card" content="summary_large_image">
</head>
<body>
redirecting...
<script>
    window.setTimeout(function () {
        location.href = "<%- url %>";
    }, 5000);
</script>
</body>
